.elso{
    height: 100px;
    background-color: purple;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.kiskekek{
    height: 50px;
    width: 160px;
    background-color: lightblue;
    margin: 10px;
}

.also{
    display: flex;
    height: 650px;
    width: 90%;
    margin-left: 5%;
}

.masodik{
    height: 645px;
    width: 100%;
    display: flex;
}

.nagysarga{
    background-color: yellow;
    flex-grow: 2;
}

.kiszold{
    background-color: darkgreen;
    flex-grow: 1;
    margin-right: 10px;
}

.alairas{
    width: 91%;
    height: 80px;
    background-color: grey;
    margin: 10px;
    margin-left: 4%;
}
